body {
	background-color: black;
}

#main-container {
	background-color: white;
	height: 500px;
	margin-top: 110px;
	min-width: 1200px;
	position: relative;
  	z-index: 1;
}

.ryu, .ryu-still, .ryu-ready, .ryu-cool, .ryu-throwing {
	width: 659px;
	height: 500px;
}

.ryu, .ryu-still, .ryu-ready, .ryu-cool, .ryu-throwing, .hadouken {
	background-repeat: no-repeat;
}

.ryu {
	float: left;
	margin-left: 100px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  left: 640px;
  top: 170px;
  z-index: 10;
}

.instructions1, .instructions2 {
	height: 300px;
	width: 300px;
	font-size: 2.2em;
	position: absolute;
}

.instructions1 {
	top: 80px;
	left: 650px;
}

.instructions2 {
	top: 220px;
	left: 880px;
}